table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

tr {
  background: #f5f5f5;
  color: #808080;
}

tr:nth-child(2n + 1) {
  background: #fff;
}

tr td:first-child {
  width: 10px;
}
tr td:nth-child(2) {
  width: 20px;
}

//persons avatar
tr td:nth-child(2) span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 10px  #383737;
  width: 50px;
  height: 50px;
  font-size: 20px;
  color: #fff;
}
// persons name color
tr td:nth-child(3) span {
  color: black;
  font-weight: bolder;
}
// award icons
tr img {
  height: 30px;
}

thead tr:first-child {
  background: #f5f5f5;
  color: #fff;
}

thead tr th:nth-last-child(3) {
  display: flex;
  justify-content: flex-start;
}

thead tr th:last-child {
  display: flex;
  justify-content: flex-end;
}

thead button {
  outline: none;
  text-transform: uppercase;
  margin: 3px 5px 5px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px  #383737;
} 

thead button:hover {
  cursor: pointer;
}

thead input {
  margin: 5px;
}

//last column of the table(rating)
tr td:last-child {
  text-align: right;
  color: black;
  font-weight: bolder;
}

td {
  text-align: left;
  padding: 10px 15px;
}


table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

tr:hover td {
  background: #98e7f5;
  color: #585858;
  cursor: pointer;
}