* {
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(rgb(1, 9, 26), #184e6d);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  font-family: Roboto, sans-serif;
  margin: 0;
}

.wrapper {
  width: 95vw;
}
